<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body th:fragment="footer">
<div class="footer-logos" >
  <div class="container d-flex align-items-center justify-content-center">
    <div class="footer-logos-item col-4 col-lg-4 col-xl-4 m-auto ">
      <img alt="" src="/images/logo/logo_cam.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
    </div>
    <div class="cis footer-logos-item col-4 col-lg-4 col-xl-4 m-auto">
      <img alt="" src="/images/logo/Logo-CIS.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
    </div>
    <div class="footer-logos-item col-4 col-lg-4 col-xl-4 m-auto">
      <img alt="" src="/images/logo/logo_IPC.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
    </div>
  </div>
</div>
<!-- FOOTER -->
<footer class="bg-dark text-light">
  <div id="footer">
    <div class="footer-top">
      <div class="container">
        <p class="the-title wow fadeInDown">Hệ thống Giáo dục Vinschool</p>
        <div class="row">
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="widget wow fadeInLeft" data-wow-delay="0s">
              <p class="h6 footer-title">Tại Miền Bắc và Miền Trung:</p>
              <div class="content-widget">
                <p> <strong>T: </strong>
                  <span>
                        18006511 (chọn ngôn ngữ và bấm số máy lẻ 1 hoặc 3)<br />hoặc 094 659 1010 </span>
                </p>
                <p> <strong>E: </strong><span>tuyensinh@vinschool.edu.vn</span></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="widget wow fadeInLeft" data-wow-delay="0.2s">
              <p class="h6 footer-title">Tại Miền Nam:</p>
              <div class="content-widget">
                <p> <strong>T: </strong>
                  <span>
                        18006511 (chọn ngôn ngữ và bấm số máy lẻ 2)<br />hoặc 091 1016 680 </span>
                </p>
                <p> <strong>E: </strong><span>tuyensinh.hcm@vinschool.edu.vn</span></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-2">
            <a href="//www.dmca.com/Protection/Status.aspx?ID=9753a5d8-c1fa-42e2-876e-3a12383d7ae0"
               title="DMCA.com Protection Status" class="dmca-badge"> <img src="/images/logo/DMCA.png"
                                                                           alt="DMCA.com Protection Status" /></a>
            <script src="/dist/js/DMCABadgeHelper.min.js"> </script>
          </div>
          <div class="col-sm-6 col-lg-12 col-xl-4">
            <p><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 25px;"></i>&nbsp;RRQP+GQ3, Đ. Cầu
              Vồng 3, Long Thạnh Mỹ, Quận 9, Thành phố Hồ Chí Minh, Việt Nam</p>
            <p><i class="fa fa-envelope" aria-hidden="true"
                  style="font-size: 18px;"></i>&nbsp;Kidsvinschoolthuduc@gmail.com</p>
            <p><i class="fa fa-phone-square" aria-hidden="true" style="font-size: 20px;"></i>&nbsp;0283643555</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>