<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="manager-header">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top managerment">
        <div class="manager-nav-left"><a class="navbar-brand pl-2 pr-2 pt-0 pb-0" href="manager-account"><img class="logo"
                                                                                               src="/images/logo/Logo.png" alt="Logo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="manager-nav-right">
            <div class="manager collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-brand justify-content-center text-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="manager-account"><i class="fa fa-user-circle"
                                                                      aria-hidden="truetrue"></i>
                            <p> Tài khoản</p><span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="manager-events-news"><i class="fa fa-briefcase"
                                                                          aria-hidden="true"></i>
                            <p> Tin tức & sự kiện</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="manager-admissions"><i class="fa fa-check-circle"
                                                                          aria-hidden="true"></i>
                            <p> Nhập học</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="manager-rate"><i class="fa fa-star" aria-hidden="true"></i>
                            <p> Đánh giá</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="manager-user"><i class="fa fa-outdent" aria-hidden="true"></i>
                            <p> Khác</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fa fa-sign-out" aria-hidden="true"></i>
                            <p> Đăng xuất</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header></body>
</html>