<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:fragment="manager-header">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top managerment">
        <div class="manager-nav-left"><a class="navbar-brand pl-2 pr-2 pt-0 pb-0" th:href="@{/manager/manager-user}"><img class="logo"
                                                                                               src="/images/logo/Logo.png" alt="Logo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="manager-nav-right">
            <div class="manager collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-brand justify-content-center text-center" id="nac-ul">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/manager/manager-user}"><i class="fa fa-user-circle"
                                                                                  aria-hidden="truetrue"></i>
                            <p> Tài khoản</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/manager/manager-events-news}"><i class="fa fa-briefcase"
                                                                          aria-hidden="true"></i>
                            <p> Tin tức & sự kiện</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " th:href="@{/manager/manager-admissions}"><i class="fa fa-check-circle"
                                                                          aria-hidden="true"></i>
                            <p> Nhập học</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/manager/manager-rate}"><i class="fa fa-star" aria-hidden="true"></i>
                            <p> Đánh giá</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/trang-chu}"><i class="fa fa-home" aria-hidden="true"></i>
                            <p> Trang chủ</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fa fa-sign-out" aria-hidden="true"></i>
                            <p> Đăng xuất</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<script>
    $(function(){
        var current = location.pathname;
        $('#nav-ul li a').each(function(){
            var $this = $(this);
            // if the current path is like this link, make it active
            if($this.attr('href').indexOf(current) !== -1){
                $this.addClass('active');
            }
        })
    })
</script>
</body>
</html>