<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
  <title>Lỗi</title>
</head>
<body layout:fragment="content">
<main role="main">

  <div class="container">
    <h2 class="mb-5 text-uppercase text-head-vinschool">403</h2>
    <hr class="featurette-divider bg-info mt-0">
    <div class="row featurette text-light">
      <div class="col-md-7">
        <p class="lead">Sai rồi!Hãy thử tìm một trang khác.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="images/mistake-3085712_1280.jpg"
             alt="Generic placeholder image">
      </div>
    </div>
  </div>
  <div class="footer-logos">
    <div class="container d-flex align-items-center justify-content-center">
      <div class="footer-logos-item col-4 col-lg-4 col-xl-4 m-auto ">
        <img alt="" src="images/logo/logo_cam.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
      </div>
      <div class="cis footer-logos-item col-4 col-lg-4 col-xl-4 m-auto">
        <img alt="" src="images/logo/Logo-CIS.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
      </div>
      <div class="footer-logos-item col-4 col-lg-4 col-xl-4 m-auto">
        <img alt="" src="images/logo/logo_IPC.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
      </div>
    </div>
  </div>
</main>
</body>

</html>