<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
  <title>Lỗi</title>
</head>
<body layout:fragment="content">
<main role="main" style="margin-top: 86px">

  <div class="container">
    <h1 class="mb-5 text-uppercase text-head-vinschool">403</h1>
    <hr class="featurette-divider bg-info mt-0">
    <div class="row featurette text-light">
      <div class="col-md-7">
        <p class="lead">Sai rồi!Hãy thử tìm một trang khác.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/images/mistake-3085712_1280.jpg"
             alt="Generic placeholder image">
      </div>
    </div>
  </div>
</main>
</body>

</html>