<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đăng Ký Nhập Học - Trường mầm non Vinschool TP Thủ Đức</title>
  <link rel="shortcut icon" href="images/logo/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/css/bootstrap.css">
  <link rel="stylesheet" href="dist/css/style.css">
  <link rel="stylesheet" href="dist/css/carousel.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
      <a class="navbar-brand" href="index.html"><img class="logo" src="images/logo/logo.png" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-p="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav navbar-brand mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Trang chủ<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="news.html">Tin tức & sự kiện</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="education.html">Chương trình đào tạo</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link " href="admissions.html">Đăng ký nhập học</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="rating.html">Đánh giá</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="contact.html">Liên hệ</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-brand">
          <li class="nav-item mt-2 mt-md-0">
            <a class="nav-link " href="login.html"><i class="fa fa-sign-in"></i>&nbsp;Đăng nhập</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main role="main">
    <!-- /END THE FEATURETTES -->
    <div class="container">
      <div class="admission">
        <form method="post"  onsubmit="return FormValidate();">
          <h2 class="text-light mb-4" style="font-weight: 600;text-transform: capitalize;"><i
              class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Đăng ký nhập
            học cho bé</h2>
          <hr class="bg-info mb-5">
          <div class="row text-light">
            <div class="col-12">
              <p style="font-size: 14px;"><i>Lưu ý: <span style="color: red;">(*)</span> là mục không được bỏ trống</i></p>
            </div>
            <div class="col-6 mb-2">
              <p>Họ và tên phụ huynh <span style="color: red;">(*)</span></p>
              <input id="nameParent" type="text" class="input-group p-2" placeholder="VD: Nguyễn Văn A">
              <p class="text-danger p-auto m-2" id="errorNameparent">&nbsp;</p>
            </div>
            <div class="col-6 mb-2">
              <p>Số điện thoại liên hệ <span style="color: red;">(*)</span></p>
              <input id="phone" type="text" class="input-group p-2" placeholder="VD: 038473622">
              <p class="text-danger p-auto m-2" id="errorPhone">&nbsp;</p>
            </div>
            <div class="col-12 mb-2">
              <p>Địa chỉ <span style="color: red;">(*)</span></p>
              <input id="address" type="text" class="input-group p-2" placeholder="VD: 12 Đường Nguyễn Văn A Phường Anh Mỹ Quận 1 TP HCM">
              <p class="text-danger p-auto m-2" id="errorAddress">&nbsp;</p>
            </div>
            <div class="col-6 mb-2">
              <p>Đơn vị công tác <span style="color: red;">(*)</span></p>
              <input id="workUnit" type="text" class="input-group p-2" placeholder="VD: VinGroup - Chi nhánh TP HCM">
              <p class="text-danger p-auto m-2" id="errorWorkunit">&nbsp;</p>
            </div>
            <div class="col-6 mb-2">
              <p>Email <span style="color: red;">(*)</span></p>
              <input id="email" type="text" class="input-group p-2" placeholder="VD: nguyenanhmy12@gmail.com">
              <p class="text-danger p-auto m-2" id="errorEmail">&nbsp;</p>
            </div>
            <div class="col-6 mb-2">
              <p>Họ và tên của bé <span style="color: red;">(*)</span></p>
              <input id="nameBaby" type="text" class="input-group p-2" placeholder="VD: Nguyễn Văn A">
              <p class="text-danger p-auto m-2" id="errorNamebaby">&nbsp;</p>
            </div>
            <div class="col-6 mb-2">
              <p id="birthdayBaby">Ngày sinh của bé <span style="color: red;">(*)</span></p>
              <input id="birthdayBaby" type="date" class="input-group p-2" required>
              <p id="errorBirhdayBaby">&nbsp;</p>
            </div>
            <div class="col-12 mb-5">
              <p>Ghi chú</p>
              <textarea class="input-group p-2" rows="8"></textarea>
            </div>
            <div class="col-6">
              <button type="submit" class="float-right btn btn-info mb-5 p-3">Đăng ký nhập học</button>
            </div>
            <div class="col-6">
              <button type="reset" class="float-left btn btn-danger mb-5 p-3" style="width: 30%;">Hủy</button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /.container -->
    <!--    <div class="intro-content text-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <h1 class="d-none">Tập đoàn Vingroup</h1>
            <section>
              <p><span style="font-size: 12pt;"></span></p>
              <h2>TẬP ĐOÀN VINGROUP &#8211; CÔNG TY CP</h2>
              <p><span style="font-size: 12pt;">Tiền thân của Vingroup là Tập đoàn Technocom, thành lập năm 1993 tại
                  Ucraina. Đầu những năm 2000, Technocom trở về Việt Nam, tập trung đầu tư vào lĩnh vực du lịch và bất
                  động sản với hai thương hiệu chiến lược ban đầu là Vinpearl và Vincom. Đến tháng 1/2012, công ty CP
                  Vincom và Công ty CP Vinpearl sáp nhập, chính thức hoạt động dưới mô hình Tập đoàn với tên gọi Tập
                  đoàn Vingroup – Công ty CP.</span></p>
              <p><span style="font-size: 12pt;">3 nhóm hoạt động trọng tâm của Tập đoàn bao gồm:</span></p>
              <ul>
                <li><span style="font-size: 12pt;">Công nghệ &#8211; Công nghiệp</span></li>
                <li><span style="font-size: 12pt;">Thương mại Dịch vụ</span></li>
                <li><span style="font-size: 12pt;">Thiện nguyện Xã hội</span></li>
              </ul>
              <p><span style="font-size: 12pt;">Với mong muốn đem đến cho thị trường những sản phẩm &#8211; dịch vụ theo
                  tiêu chuẩn quốc tế và những trải nghiệm hoàn toàn mới về phong cách sống hiện đại, ở bất cứ lĩnh vực
                  nào Vingroup cũng chứng tỏ vai trò tiên phong, dẫn dắt sự thay đổi xu hướng tiêu dùng. </span></p>
              <p><span style="font-size: 12pt;"></span></p>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-logos">
      <div class="container d-flex align-items-center justify-content-center">
        <div class="footer-logos-item col-4 col-lg-4 col-xl-4 m-auto ">
          <img alt="" src="images/logo/logo_cam.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
        </div>
        <div class="cis footer-logos-item col-4 col-lg-4 col-xl-4 m-auto">
          <img alt="" src="images/logo/Logo-CIS.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
        </div>
        <div class="footer-logos-item col-4 col-lg-4 col-xl-4 m-auto">
          <img alt="" src="images/logo/logo_IPC.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
        </div>
      </div>
    </div>
    -->

    <!-- FOOTER -->
    <footer class="bg-dark text-light">
      <div id="footer">
        <div class="footer-top">
          <div class="container">
            <p class="the-title wow fadeInDown">Hệ thống Giáo dục Vinschool</p>
            <div class="row">
              <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="widget wow fadeInLeft" data-wow-delay="0s">
                  <p class="h6 footer-title">Tại Miền Bắc và Miền Trung:</p>
                  <div class="content-widget">
                    <p> <strong>T: </strong>
                      <span>
                        18006511 (chọn ngôn ngữ và bấm số máy lẻ 1 hoặc 3)<br />hoặc 094 659 1010 </span>
                    </p>
                    <p> <strong>E: </strong><span>tuyensinh@vinschool.edu.vn</span></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="widget wow fadeInLeft" data-wow-delay="0.2s">
                  <p class="h6 footer-title">Tại Miền Nam:</p>
                  <div class="content-widget">
                    <p> <strong>T: </strong>
                      <span>
                        18006511 (chọn ngôn ngữ và bấm số máy lẻ 2)<br />hoặc 091 1016 680 </span>
                    </p>
                    <p> <strong>E: </strong><span>tuyensinh.hcm@vinschool.edu.vn</span></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-2">
                <a href="//www.dmca.com/Protection/Status.aspx?ID=9753a5d8-c1fa-42e2-876e-3a12383d7ae0"
                  title="DMCA.com Protection Status" class="dmca-badge"> <img src="images/logo/DMCA.png"
                    alt="DMCA.com Protection Status" /></a>
                <script src="dist/js/DMCABadgeHelper.min.js"> </script>
              </div>
              <div class="col-sm-6 col-lg-12 col-xl-4">
                <p><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 25px;"></i>&nbsp;RRQP+GQ3, Đ. Cầu
                  Vồng 3, Long Thạnh Mỹ, Quận 9, Thành phố Hồ Chí Minh, Việt Nam</p>
                <p><i class="fa fa-envelope" aria-hidden="true"
                    style="font-size: 18px;"></i>&nbsp;Kidsvinschoolthuduc@gmail.com</p>
                <p><i class="fa fa-phone-square" aria-hidden="true" style="font-size: 20px;"></i>&nbsp;0283643555</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </main>
  <script src="dist/js/jQuery/jquery-3.6.1.min.js"></script>
  <script src="dist/js/bootstrap.min.js"></script>
  <!--<script>window.jQuery || document.write('<script src="dist/js/jQuery/jquery-3.6.1.min.js"><\/script>')</script> -->
  <script src="dist/js/bootstrap.bundle.min.js"></script>
  <script src="dist/js/vinschool.js"></script>
</body>

</html>