<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
  <title>Liên hệ</title>

</head>

<body>
  <main role="main" layout:fragment="content">
    <div class="container marketing">
      <div class="map">
        <h2 class="text-light mb-4" style="font-weight: 600;"><i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;Liên Hệ</h2>
        <hr class=" bg-info mb-5">
        <div class="row text-light">
            <div class="contact-left col-xl-7 col-md-8 col-12">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.91509316014483!2d106.83655227576857!3d10.838723808583017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317521d3981a3f63%3A0x2d39eb919e29c951!2zVHLGsOG7nW5nIG3huqt1IGdpw6FvIFZpbnNjaG9vbA!5e0!3m2!1svi!2s!4v1664880569371!5m2!1svi!2s"
                width="600" height="600"  allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="contact-right col-xl-5 col-md-4 col-12">
              <p class="text-uppercase" style="font-size: 20px; font-weight: 600; color: rgb(25, 70, 142);">Trường Mầm Non Vinschool Thành Phố Thủ Đức
              </p>
              <p>RRQP+GQ3, Đ. Cầu
                Vồng 3, Long Thạnh Mỹ, Quận 9, Thành phố Hồ Chí Minh, Việt Nam</p>
              <p>Số điện thoại:&nbsp;18006511 (chọn ngôn ngữ và bấm số máy lẻ 2)</p>
              <p  style=" word-wrap: break-word;">Email:&nbsp;Kidsvinschoolthuduc@gmail.com</p>
            </div>
        </div>
      </div>
    </div><!-- /.container -->

  </main>
</body>

</html>