<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
  <title>Tin tức & Sự kiện - Trường mầm non Vinschool TP Thủ Đức</title>
</head>

<body>
    <!-- NAVBAR Menu KidVinschool-->
    <!-- End NAVBAR KidVinschool-->
  <main role="main" layout:fragment="content">
    <div style="margin-top: 10%"></div>
    <div class="container">
      <h2 class="mb-5 text-uppercase text-head-vinschool" th:text="${tin.getTitle()}"></h2>
      <hr class="featurette-divider bg-info mt-0">
      <div class="row featurette text-light">
        <div class="col-md-7">
          <p class="lead" th:text="${tin.getOverview()}"></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" height="300" th:src="@{${'/load-image-tin/'+tin.getIdTin()}}"
               alt="Generic placeholder image">
        </div>
      </div>
    </div>
    <div class="container text-light">
      <section class="news-detail post-detail">
        <h1 class="news-title h2">Trường Mầm non Vinschool Grand Park chính thức đi vào hoạt động</h1>
        <p><strong>Ngày 5/9/2022, trường Mầm non Vinschool Grand Park - TP.HCM chính thức đi vào hoạt động, chào đón
          gần 600 Vinsers đầu tiên.</strong></p>
        <figure id="attachment_46862" aria-describedby="caption-attachment-46862" style="width: 600px"
                class="justify-content-center aligncenter text-center lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto">
          <img alt="" width="600" height="400" src="/images/slide/vintd1.jpg" />
          <figcaption id="caption-attachment-46862" class="wp-caption-text">Trường nằm trong khu đô thị Vinhomes
            Grand Park, quận 9, TP.HCM. Mang đến không gian học tập thoáng đãng cho học sinh</figcaption>
        </figure>
        <p>Trường được trang bị hệ thống lớp học hiện đại, sân chơi, các phòng chức năng như: Thư viện, nhà Đa năng,
          Soft-play… theo các tiêu chuẩn quốc tế, đáp ứng tối đa nhu cầu học tập, vui chơi, trải nghiệm của học
          sinh.</p>
        <figure id="attachment_46860" aria-describedby="caption-attachment-46860" style="width: 600px"
                class="justify-content-center aligncenter text-center lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto">
          <img alt="" width="600" height="400" src="/images/slide/vintd2.jpg" />
          <figcaption id="caption-attachment-46860" class="wp-caption-text">Sân chơi ngoài trời sẽ là không gian
            tuyệt vời để các bạn học sinh tham gia vào các hoạt động trải nghiệm, khám phá thiên nhiên</figcaption>
        </figure>
        <figure id="attachment_46861" aria-describedby="caption-attachment-46861" style="width: 600px"
                class="justify-content-center aligncenter text-center lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto">
          <img alt="" width="600" height="400" src="/images/slide/vintd3.jpg" />
          <figcaption id="caption-attachment-46861" class="wp-caption-text">Không gian Thư viện được bài trí thân
            thiện với hàng trăm đầu sách tiếng Anh và tiếng Việt, giúp nuôi dưỡng thói quen đọc sách của trẻ ngay từ
            khi còn nhỏ</figcaption>
        </figure>
        <figure id="attachment_46867" aria-describedby="caption-attachment-46867" style="width: 600px"
                class="justify-content-center aligncenter text-center lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto">
          <img alt="" width="600" height="400" src="/images/slide/vintd4.jpg" />
          <figcaption id="caption-attachment-46867" class="wp-caption-text">Khu vui chơi Soft-play trong nhà được
            trang bị những thiết bị vui chơi an toàn, là nơi các bạn nhỏ vô cùng yêu thích</figcaption>
        </figure>
        <figure id="attachment_46859" aria-describedby="caption-attachment-46859" style="width: 600px"
                class="justify-content-center aligncenter text-center lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto">
          <img alt="" width="600" height="400" src="/images/slide/vintd5.jpg" />
          <figcaption id="caption-attachment-46859" class="wp-caption-text">Phòng Nghệ thuật được trang bị đầy đủ
            nhạc cụ, trang phục cơ bản để các con tập múa/kịch và chuẩn bị hóa trang trong các tiết học nghệ thuật
            sáng tạo.</figcaption>
        </figure>
        <p>Trong ngày đầu tiên đến lớp, các con đã được chào đón bằng những tiết mục ảo thuật vui nhộn, tham gia vào
          các hoạt động trải nghiệm thú vị: que kem diệu kỳ, xếp hình 3D, vẽ tranh tự nhiên, mê cung giác
          quan&#8230;cùng nhiều trò chơi vận động vui khỏe&#8230;giúp các con nhanh chóng thích nghi và hòa nhập với
          môi trường mới.</p>
        <p><span style="font-weight: 400;">Một phụ huynh học sinh cho biết: <em>“Hôm nay, cả gia đình và bé rất háo
                hức. Trường chuẩn bị mọi thứ rất chu đáo, có nhiều hoạt động khiến bé thích thú, hòa nhập nhanh và
                không cảm thấy lạ lẫm. Trước đó, gia đình có tìm hiểu về Vinschool và thấy Vinschool rất phù hợp với
                tiêu chí của gia đình, giúp bé có thể tự do phát triển. Vì vậy, gia đình đã lựa chọn Vinschool cho con
                theo học”.</em></span></p>
        <p><span style="font-weight: 400;">Với mục tiêu dạy học theo tiêu chuẩn đầu ra, lấy trọng tâm là phát triển
              năng lực cho học sinh, trường Mầm non Vinschool Grand Park là môi trường lý tưởng để học sinh khám phá
              và phát triển tư duy trong những năm đầu đời.</span></p>
      </section>
    </div>
  </main>
</body>

</html>