<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
  <title>Chương Trình Đào Tạo - Trường mầm non Vinschool TP Thủ Đức</title>
</head>

<body class="text-light" layout:fragment="content">
  <main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide" src="images/education/backgound-top.jpg" alt="First slide">
        </div>
      </div>
    </div>
    <!-- Marketing messaging and featurettes
        ================================================== -->
    <div class="education">
      <h1 class="d-none">Chương trình Giáo dục Mầm non</h1>
      <div class="container mt-5 post-detail mb-2">
        <h1 style="text-align: center;color: #CDA666;">VINSCHOOL TRIỂN KHAI ĐỘC QUYỀN CHƯƠNG TRÌNH MẦM NON QUỐC TẾ IPC TẠI VIỆT NAM
        </h1>
        <p><em><strong>Hệ thống Giáo dục Vinschool chính thức ký kết thỏa thuận với IPC (International Preschool
              Curriculum) để triển khai độc quyền Chương trình <span style="color: #000000;"><a
                  style="color: #961515; text-decoration: underline;"
                  href="https://vinschool.edu.vn/news_event/truong-mam-non/#mam-non-quoc-te" target="_blank"
                  rel="noopener">Mầm non quốc tế</a></span> IPC tại Việt Nam.</strong></em></p>
        <h3><img title="Chương trình giáo dục mầm non" alt="Chương trình giáo dục mầm non" width="700" height="476"
            class="img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto"
            src="images/education/chuong-trinh-giao-duc-mam-non-1.png" /></h3>
        <figcaption id="caption-attachment-37490" class="wp-caption-text text-center">Vinschool độc quyền triển khai
          chương trình
          Giáo dục Mầm non Quốc tế IPC tại Việt Nam</figcaption>
        </figure>
        <hr class="featurette-divider bg-info">
        <h2 style="text-align: center;color: #CDA666;">NHỮNG ƯU ĐIỂM CỦA CHƯƠNG TRÌNH MẦM NON QUỐC TẾ IPC<span
            style="color: #ffffff;"><strong><span style="font-size: 8pt;"> | <a style="color: #ffffff;"
                  href="https://vinschool.edu.vn/news_event/truong-mam-non/" target="_blank" rel="noopener">Trường mầm
                  non quốc tế</a></span></strong></span></h2>
        <ul style="list-style-type: disc;">
          <li>Có bộ tiêu chuẩn học tập và các tiêu chí đánh giá được thiết kế theo tiêu chuẩn Common Core và tiêu chuẩn
            của NAEYC (Hiệp hội Giáo dục Mầm non Quốc gia Hoa Kỳ); <strong><span style="color: #ffffff;"><a
                  style="color: #ffffff;"
                  href="https://vinschool.edu.vn/news_event/truong-mam-non/#truong-mam-non-quoc-te" target="_blank"
                  rel="noopener">mam non quoc te</a></span></strong></li>
          <li>Chương trình tạo điều kiện để học sinh được tiếp cận sớm với những kiến thức, kỹ năng cần thiết, phù hợp
            với
            sự phát triển của các em trong những lĩnh vực như Nghệ thuật ngôn ngữ, Tình cảm &#8211; Xã hội, Toán học,
            Nghệ
            thuật sáng tạo, Khoa học &#8211; Công nghệ, Thể chất và sức khỏe.</li>
          <li>Lớp học được triển khai dưới mô hình lớp học sáng tạo (Learning center). Giáo viên chia học sinh thành
            nhiều
            nhóm nhỏ để có thể tương tác, hỗ trợ đến từng em học sinh. Mô hình này cũng tạo điều kiện thuận lợi để giáo
            viên áp dụng hiệu quả học thuyết đa trí thông minh trong giảng dạy. Học sinh học cách trở thành những người
            học độc lập, dám chấp nhận rủi ro và chủ động đưa ra những quyết định sẽ ảnh hưởng đến thành công trong học
            tập của các em;</li>
          <li>IPC đưa ra các tiêu chí đánh giá cho từng nội dung cụ thể nhằm xây dựng lộ trình học tập phù hợp nhất cho
            từng học sinh. Lộ trình học tập này có thể được điều chỉnh theo thời gian, thông qua các hoạt động khác nhau
            để đáp ứng được sở thích và tương xứng với trình độ của học sinh.</li>
          <li>Chương trình tiếng Anh triển khai cấp độ 1 theo khung của chương trình Quốc tế Cambridge, trang bị cho học
            sinh các kỹ năng nền tảng, tạo nền móng vững chắc để học sinh giao tiếp tiếng Anh hiệu quả và chuyển tiếp
            thuận lợi vào Chương trình giáo dục Cambridge ở bậc Tiểu học;</li>
          <li>Giáo viên Mầm non Vinschool được tham gia khóa học cấp chứng chỉ Mầm non quốc tế, được các chuyên gia đào
            tạo của IPC hướng dẫn, hỗ trợ để liên tục nâng cao kiến thức chuyên môn và kỹ năng sư phạm.</li>
          <li>Học sinh được tiếp cận với các khái niệm về công dân toàn cầu và học tập liên văn hóa để sẵn sàng hội nhập
            quốc tế.<br />
          </li>
        </ul>
        <img alt="" width="500" height="505"
        class="aligncenter wp-image-44061 lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto"
        src="images/education/logo-chu-de-2022-CEO-edit.png" /> <br>
        <h3><img alt="" width="700" height="467"
            class="aligncenter size-full wp-image-41439 lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto"
            src="images/education/image1.jpg" /></h3>
        <hr class="featurette-divider bg-info">
        <h3 style="text-align: center; color: #CDA666;"><strong>CHUẨN BỊ CHO TRẺ MẦM NON VÀO LỚP 1</strong></h3>
        <p>Thông qua nhiều hoạt động đa dạng, giáo viên trang bị cho học sinh các kỹ năng quan trọng như tuân thủ quy
          định, tự xúc ăn, tự mặc quần áo và giữ gìn vệ sinh thân thể. Bên cạnh đó, học sinh được học và thực hành kỹ
          năng
          giữ an toàn cùng với các kỹ năng mềm phù hợp với lứa tuổi. Các em cũng được học cách xử lý các tình huống
          trong
          học tập và cuộc sống hàng ngày một cách có trách nhiệm. Những kỹ năng này vô cùng quan trọng cho trẻ Mầm non
          chuẩn bị tốt tâm thế trước khi vào lớp 1.</p> 
        <h3><img alt="" width="700" height="467"
            class="lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto"
            src="images/education/image2.jpg" /></h3>
        <h3><img title="chương trình giáo dục mầm non" alt="chương trình giáo dục mầm non" width="700" height="467"
            src="images/education/image3.jpg"
            class="lazyload img-fluid mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto mx-auto d-block" /></h3>
        <figcaption id="caption-attachment-37494" class="wp-caption-text text-center">Thông qua nhiều hoạt động đa dạng, giáo viên
          trang bị cho học sinh các kỹ năng quan trọng</figcaption>
        <p>&nbsp;</p>
      </div>
      <section class="reason-block mb-5">
        <div class="container p-5">
          <div class="row no-gutters">
            <div class="col-12 col-lg-4 pb-4">
              <h2 class="the-title hero-title text-white" style="font-size: 25px;">5 ưu điểm nổi trội của chương trình
                Mầm non tại Vinschool</h2>
            </div>
            <div class="col-12 col-lg-8">
              <div class="reason-content">
                <div class="reason-slider">
                  <div class="slider-item">
                    <div class="slider-item__inner">
                      <p class="ml-5"><i class="fa fa-flag" aria-hidden="true"></i>&nbsp;Chương trình với bộ tiêu chuẩn đầu ra được tích hợp toàn diện trên 6 lĩnh vực học tập</p>
                    </div>
                  </div>
                  <div class="slider-item"
                    data-icon="https://vinschool.edu.vn/wp-content/uploads/2019/06/21/icon_05.png">
                    <div class="slider-item__inner">
                      <p class="ml-5"><i class="fa fa-flag" aria-hidden="true"></i>&nbsp;Học sinh phát triển toàn diện, được nuôi dưỡng tính tự lập, chủ động</p>
                    </div>
                  </div>
                  <div class="slider-item"
                    data-icon="https://vinschool.edu.vn/wp-content/uploads/2019/06/21/icon_04.png">
                    <div class="slider-item__inner">
                      <p class="ml-5"><i class="fa fa-flag" aria-hidden="true"></i>&nbsp;Kế hoạch học tập được cá nhân hóa trên cơ sở đánh giá thường xuyên</p>
                    </div>
                  </div>
                  <div class="slider-item"
                    data-icon="https://vinschool.edu.vn/wp-content/uploads/2019/06/21/icon_03.png">
                    <div class="slider-item__inner">
                      <p class="ml-5"><i class="fa fa-flag" aria-hidden="true"></i>&nbsp;Chương trình Tiếng Anh được phát triển dựa trên Chương trình Quốc tế Cambridge</p>
                    </div>
                  </div>
                  <div class="slider-item"
                    data-icon="https://vinschool.edu.vn/wp-content/uploads/2019/06/21/icon_02.png">
                    <div class="slider-item__inner">
                      <p class="ml-5"><i class="fa fa-flag" aria-hidden="true"></i>&nbsp;Đội ngũ giáo viên Mầm non tận tâm, có trình độ, được đào tạo theo chuẩn quốc tế</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>

</html>