<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
  <title>Trường mầm non Vinschool TP Thủ Đức</title>
</head>

<body>

  <main role="main" layout:fragment="content">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide" src="/images/slide/vintd1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption text-center m-auto mb-2 dark-opacity">
              <p>Trường Mầm Non Vinschool Grand Park Thành Phố Thủ Đức nằm trong khu đô thị Vinhomes Grand Park, thuộc
                khu dân cư và công viên Phước Thiện, đường Nguyễn Xiển, phường Long Bình và Long Thạnh Mỹ, Quận 9, TP.
                Hồ Chí Minh.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="second-slide" src="/images/slide/vintd2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption text-center m-auto dark-opacity">
              <p>Trường có khuôn viên vui chơi rộng rãi, nhiều cây xanh.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="/images/slide/vintd3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption text-center m-auto dark-opacity">
              <p>Phòng học được đầu tư các trang thiết bị học tập hiện đại, kích thích sự sáng tạo và niềm yêu thích học
                tập của các bạn nhỏ.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="four-slide" src="/images/slide/vintd4.jpg" alt="Four slide">
          <div class="container">
            <div class="carousel-caption text-center m-auto dark-opacity">
              <p>Trong chương trình Mầm non Quốc tế IPC, lớp học được chia thành các trung tâm học tập để học sinh trải
                nghiệm những chủ đề bổ ích.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="four-slide" src="/images/slide/vintd5.jpg" alt="Fif slide">
          <div class="container">
            <div class="carousel-caption text-center m-auto dark-opacity">
              <p>Khu vui chơi trong nhà là một trong những không gian yêu thích của học sinh, nơi các con vui chơi và
                rèn luyện các kỹ năng vận động thô - tinh.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="four-slide" src="/images/slide/vintd6.jpg" alt="Six slide">
          <div class="container">
            <div class="carousel-caption text-center m-auto dark-opacity">
              <p>Phòng Đa năng rộng rãi là nơi các con tham gia vào nhiều trò chơi vận động khác nhau.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="four-slide" src="/images/slide/vintd7.jpg" alt="Seven slide">
          <div class="container">
            <div class="carousel-caption text-center m-auto dark-opacity">
              <p>Phòng Nghệ thuật là không gian để con tập múa/kịch và chuẩn bị hóa trang trong các tiết học nghệ thuật
                sáng tạo.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="four-slide" src="/images/slide/vintd8.jpg" alt="Eight slide">
          <div class="container">
            <div class="carousel-caption text-center m-auto dark-opacity">
              <p>Thư viện mang đến cho các con không gian đọc sách thoải mái, tự do trải nghiệm kiến thức cùng bạn bè.
              </p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="container">
      <h2 class="mb-5 text-uppercase text-head-vinschool">Trường mầm non Vinschool Grand Park Thành Phố Thủ Đức</h2>
      <hr class="featurette-divider bg-info mt-0">
      <div class="row featurette text-light">
        <div class="col-md-7">
          <p class="lead">Trường Mầm Non Vinschool Grand Park Thành Phố Thủ Đức nằm trong khu đô thị Vinhomes Grand
            Park, thuộc
            khu dân cư và công viên Phước Thiện, đường Nguyễn Xiển, phường Long Bình và Long Thạnh Mỹ, Quận 9, TP.
            Hồ Chí Minh.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="/images/slide/vintd1.jpg"
            alt="Generic placeholder image">
        </div>
      </div>
    </div>
    <!-- xxx -->
    <div class="intro-content text-light">
      <div class="container">
        <!-- xx -->
        <section class="news-detail post-detail">
          <h1 class="news-title h2">Trường Mầm non Vinschool Grand Park chính thức đi vào hoạt động</h1>
          <p><strong>Ngày 5/9/2022, trường Mầm non Vinschool Grand Park - TP.HCM chính thức đi vào hoạt động, chào đón
              gần 600 Vinsers đầu tiên.</strong></p>
          <figure id="attachment_46862" aria-describedby="caption-attachment-46862" style="width: 600px"
            class="justify-content-center aligncenter text-center lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto">
            <img alt="" width="600" height="400" src="/images/slide/vintd1.jpg" />
            <figcaption id="caption-attachment-46862" class="wp-caption-text">Trường nằm trong khu đô thị Vinhomes
              Grand Park, quận 9, TP.HCM. Mang đến không gian học tập thoáng đãng cho học sinh</figcaption>
          </figure>
          <p>Trường được trang bị hệ thống lớp học hiện đại, sân chơi, các phòng chức năng như: Thư viện, nhà Đa năng,
            Soft-play… theo các tiêu chuẩn quốc tế, đáp ứng tối đa nhu cầu học tập, vui chơi, trải nghiệm của học
            sinh.</p>
          <figure id="attachment_46860" aria-describedby="caption-attachment-46860" style="width: 600px"
            class="justify-content-center aligncenter text-center lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto">
            <img alt="" width="600" height="400" src="/images/slide/vintd2.jpg" />
            <figcaption id="caption-attachment-46860" class="wp-caption-text">Sân chơi ngoài trời sẽ là không gian
              tuyệt vời để các bạn học sinh tham gia vào các hoạt động trải nghiệm, khám phá thiên nhiên</figcaption>
          </figure>
          <figure id="attachment_46861" aria-describedby="caption-attachment-46861" style="width: 600px"
            class="justify-content-center aligncenter text-center lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto">
            <img alt="" width="600" height="400" src="/images/slide/vintd3.jpg" />
            <figcaption id="caption-attachment-46861" class="wp-caption-text">Không gian Thư viện được bài trí thân
              thiện với hàng trăm đầu sách tiếng Anh và tiếng Việt, giúp nuôi dưỡng thói quen đọc sách của trẻ ngay từ
              khi còn nhỏ</figcaption>
          </figure>
          <figure id="attachment_46867" aria-describedby="caption-attachment-46867" style="width: 600px"
            class="justify-content-center aligncenter text-center lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto">
            <img alt="" width="600" height="400" src="/images/slide/vintd4.jpg" />
            <figcaption id="caption-attachment-46867" class="wp-caption-text">Khu vui chơi Soft-play trong nhà được
              trang bị những thiết bị vui chơi an toàn, là nơi các bạn nhỏ vô cùng yêu thích</figcaption>
          </figure>
          <figure id="attachment_46859" aria-describedby="caption-attachment-46859" style="width: 600px"
            class="justify-content-center aligncenter text-center lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto">
            <img alt="" width="600" height="400" src="/images/slide/vintd5.jpg" />
            <figcaption id="caption-attachment-46859" class="wp-caption-text">Phòng Nghệ thuật được trang bị đầy đủ
              nhạc cụ, trang phục cơ bản để các con tập múa/kịch và chuẩn bị hóa trang trong các tiết học nghệ thuật
              sáng tạo.</figcaption>
          </figure>
          <p>Trong ngày đầu tiên đến lớp, các con đã được chào đón bằng những tiết mục ảo thuật vui nhộn, tham gia vào
            các hoạt động trải nghiệm thú vị: que kem diệu kỳ, xếp hình 3D, vẽ tranh tự nhiên, mê cung giác
            quan&#8230;cùng nhiều trò chơi vận động vui khỏe&#8230;giúp các con nhanh chóng thích nghi và hòa nhập với
            môi trường mới.</p>
          <p><span style="font-weight: 400;">Một phụ huynh học sinh cho biết: <em>“Hôm nay, cả gia đình và bé rất háo
                hức. Trường chuẩn bị mọi thứ rất chu đáo, có nhiều hoạt động khiến bé thích thú, hòa nhập nhanh và
                không cảm thấy lạ lẫm. Trước đó, gia đình có tìm hiểu về Vinschool và thấy Vinschool rất phù hợp với
                tiêu chí của gia đình, giúp bé có thể tự do phát triển. Vì vậy, gia đình đã lựa chọn Vinschool cho con
                theo học”.</em></span></p>
          <p><span style="font-weight: 400;">Với mục tiêu dạy học theo tiêu chuẩn đầu ra, lấy trọng tâm là phát triển
              năng lực cho học sinh, trường Mầm non Vinschool Grand Park là môi trường lý tưởng để học sinh khám phá
              và phát triển tư duy trong những năm đầu đời.</span></p>
        </section>
        <!-- xx -->
        <div class="introduce_education_system">
          <h2 class="mb-4 text-uppercase text-head-vinschool">Hệ thống Giáo dục Vinschool</h2>
          <hr class="bg-info featurette-divide" />
          <div class="intro-content pb-0">
            <section>
              <div class="container post-detail mb-0">
                <p>Vinschool là hệ thống giáo dục<em><strong> không vì lợi nhuận, liên cấp</strong> </em>từ bậc mầm
                  non
                  đến Trung học phổ thông do Tập đoàn Vingroup đầu tư phát triển, hướng đến một ngôi trường Việt Nam
                  mang đẳng cấp quốc tế. Ra đời từ năm 2013, Vinschool được đầu tư bài bản về cơ sở hạ tầng, chất
                  lượng
                  giáo viên và chương trình học, trở thành hệ thống giáo dục tư thục lớn nhất Việt Nam hiện nay.</p>
                <h2>Tầm nhìn</h2>
                <p>Tầm nhìn của Vinschool là trở thành một hệ thống giáo dục Việt Nam mang đẳng cấp quốc tế.</p>
                <h2>Sứ mệnh</h2>
                <p>Vinschool mang sứ mệnh ươm mầm tinh hoa, đào tạo học sinh trở thành những công dân có trách nhiệm,
                  có
                  hoài bão với đầy đủ phẩm chất và năng lực để sống hạnh phúc, thành công, góp phần tích cực xây dựng
                  đất nước và hội nhập quốc tế.</p>
                <p>&nbsp;</p>
              </div>
            </section>
            <section class="mb-3">
              <img width="100%" class="img-fluid lazyload" src="images/news/image4.jpg">
            </section>
            <section>
              <div class="container post-detail mb-0">
                <h3><span style="color: #cda666; font-size: 12pt;"><em>Được thành lập từ năm 2013, sau hơn 9 năm phát
                      triển, Vinschool đã trở thành <strong>hệ thống giáo dục lớn nhất Việt Nam.</strong></em></span>
                </h3>
                <p><span style="font-size: 12pt;">Vinschool hiện có 49 cơ sở uy tín trên toàn quốc tập trung tại Hà
                    Nội,
                    Tp. Hồ Chí Minh, Tp. Hải Phòng, Tp. Thanh Hóa, Tp. Hà Tĩnh với hơn 42.000 học sinh. Đặc biệt,
                    Vinschool đã <em><strong>khẳng định được vị thế tiên phong, dẫn đầu về đổi mới</strong>
                    </em>chương
                    trình, triết lý giáo dục trong hệ thống các trường phổ thông tại Việt Nam. Vinschool là trường đầu
                    tiên được Bộ Giáo dục cấp phép thực hiện chương trình tích hợp đổi mới theo Nghị định
                    86/2018/NĐ-CP.</span></p>
                <div>Nếu như các trường học truyền thống chỉ chú trọng dạy kiến thức và các môn học cơ bản, Vinschool
                  đã
                  thể hiện sự khác biệt khi chương trình học được thiết kế bao gồm các môn học của cấu phần giáo dục
                  cá
                  nhân như giáo dục Thể chất, giáo dục Kỹ năng – Phẩm chất, các môn học trải nghiệm như Công dân toàn
                  cầu…<span style="font-size: 12pt;">được chú trọng như các môn văn hóa. Vinschool là trường phổ thông
                    duy nhất đưa chương trình Việt Nam học vào giảng dạy cho học sinh từ lớp 1 đến lớp 12.</span>
                </div>
              </div>
            </section>
            <section class="mb-3">
              <!-- <img class="img-fluid" src="" width="100%"> -->
              <div class="block-2-img-rotate">
                <div class="container">
                  <div class="post-detail mb-0">
                    <p>Học sinh Vinschool không chỉ được trang bị Kiến thức, mà còn có Kỹ năng học tập, năng lực Tư
                      duy,
                      khả năng Lãnh đạo, có Phẩm chất và thái độ tốt, là những Công dân toàn cầu nhưng mang trong mình
                      bản sắc văn hoá Việt và có lòng tự tôn dân tộc.</p>
                    <p>Nhằm thực hiện sứ mệnh là ngôi trường đào tạo tinh hoa, năm 2018 Vinschool thành lập
                      <em><strong>Trung tâm Tư vấn và Phát triển tài năng</strong> <strong>– Gifted and Talented
                          Education (GATE) Center</strong></em>. GATE Center cung cấp cho mỗi học sinh tài năng một
                      chương trình giáo dục cá nhân hóa trong môi trường lý tưởng giúp học sinh phát triển được tối đa
                      tài năng của mình. Đặc biệt các chương trình này đều được Tập đoàn Vingroup tài trợ 100% cho học
                      sinh.
                    </p>
                  </div>
                  <div class="row py-3 px-5 py-md-5 align-items-end">
                    <div class="col-lg-6 img-rotate-left">
                      <div class="img-framed"><img alt="" width="100%" class="emagazine-img-full lazyload border"
                          src="/images/news/image2.jpg"></div>
                    </div>
                    <div class="col-lg-6 img-rotate-right">
                      <div class="img-framed"><img alt="" width="100%" class="emagazine-img-full lazyload border"
                          src="/images/news/image1.jpg"></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="container post-detail mb-0">
                <p><span style="font-size: 12pt;">Với vai trò là trung tâm quyết định sự thành công của chương trình
                    giáo dục, các giáo viên Vinschool được đào tạo theo chương trình sư phạm của Hoa Kỳ và chương
                    trình
                    các môn học theo chuẩn của chương trình phổ thông quốc tế Cambridge để có thể triển khai thành
                    công
                    các chương trình mới của nhà trường. Cho đến nay, Vinschool đã 2 lần được Bộ Giáo dục cấp bằng
                    khen
                    về đổi mới giáo dục, và cũng là trường Việt Nam duy nhất có được vinh dự này. Học sinh Vinschool
                    cũng liên tục giành được nhiều giải thưởng cao trong nước và quốc tế hay giành các học bổng giá
                    trị
                    của các trường Đại học hàng đầu thế giới.</span></p>
                <p><span style="font-size: 12pt;">Với vị thế là hệ thống trường phổ thông lớn nhất Việt Nam hiện nay,
                    là
                    đơn vị đi đầu, tiên phong dẫn dắt xu hướng đổi mới giáo dục tại Việt Nam, Vinschool đang từng bước
                    chuẩn bị cho học sinh của mình có khả năng đáp ứng được các yêu cầu liên tục thay đổi của tương
                    lai.</span></p>
                <p>&nbsp;</p>
                <p>
                  <center><iframe width="853" height="480" src="https://www.youtube.com/embed/YPABLqsH46g"
                      title="Giới Thiệu Chung Về Vinschool – Hệ Thống Giáo Dục Phổ Thông Lớn Nhất Việt Nam"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe></center>&nbsp;
                </p>
                <p>Vinschool tin tưởng sâu sắc mỗi học sinh là đặc biệt và duy nhất trong tổng hoà của xã hội và đất
                  nước. Qua quá trình học tập và rèn luyện nhằm phát triển tối đa năng lực cá nhân, giáo dục toàn diện
                  về thái độ, kỹ năng, kiến thức, chăm sóc cả trí lực và thể lực… Vinschool tin rằng các thế hệ học
                  sinh
                  khi ra trường sẽ sống thành công, sống có ích, làm chủ tương lai của mình và đất nước.</p>
              </div>
            </section>

          </div>
        </div>
        <hr class="featurette-divider bg-info">
        <!---->
        <section class="post-detail mb-5">
          <h2 class="mb-4 text-uppercase text-head-vinschool">Cơ sở vật chất</h2>
          <hr class="featurette-divider bg-info">
          <p><span style="font-weight: 400;">Cơ sở vật chất là ưu điểm vượt trội của </span><span
              style="font-weight: 400;">Vinschool nhờ nhận được sự đầu tư bài bản từ Tập đoàn Vingroup</span><span
              style="font-weight: 400;">. Hệ thống phòng học được xây dựng theo tiêu chuẩn quốc tế, chú trọng đầu tư
              các
              phòng học đa chức năng. Các phòng học được trang bị đầy đủ điều hòa, máy chiếu, bảng từ, bảng nỉ, Bảng
              tương tác thông minh Smart Board. Tường, cửa cách âm cùng hệ thống trần tiêu âm tạo ra không gian tách
              biệt yên tĩnh cho giờ học.</span></p>
          <p><span style="font-weight: 400;">Bên cạnh đó, các cơ sở </span><span
              style="font-weight: 400;">Vinschool</span><span style="font-weight: 400;"> được trang bị đầy đủ thiết bị
              hỗ trợ việc giảng dạy và học tập hiện đại và đa dạng. Cơ sở vật chất tại các phòng học chuyên dụng như:
              Phòng Mỹ thuật, Âm nhạc, Công nghệ thông tin, Không gian sáng tạo, Trung tâm Thực nghiệm Sáng tạo… đều
              đáp
              ứng theo tiêu chuẩn quốc tế với đầy đủ dụng cụ cho học sinh học tập. Trường cũng có khu vực ngoài trời
              như
              sân bóng, nhà đa năng, bể bơi bốn mùa phục vụ các hoạt động thể chất hàng ngày của học sinh.</span></p>
          <p><img
              class="justify-content-center aligncenter lazyload img-fluid mx-auto d-block mx-lg-auto d-lg-block mx-sm-auto d-sm-block d-md-block mx-md-auto"
              title="co-so-vat-chat-vinschool" alt="Cơ sở vật chất" width="700" height="467"
              src="/images/slide/vintd1.jpg" /></p>
          <p><span style="font-weight: 400;">Không chỉ đầu tư tuyển chọn và đào tạo giáo viên chất lượng cao, xây dựng
              và phát triển các chương trình học, chương trình rèn kỹ năng mềm, giáo dục phẩm chất, cơ sở hạ tầng đáp
              ứng tối đa nhu cầu học tập và rèn luyện của học sinh là một trong những tiêu chí quan trọng. Mục tiêu
              của
              Vinschool là xây dựng một môi trường học tập văn minh, an toàn, cùng cơ sở vật chất hiện đại cho học
              sinh.</span></p>
        </section>
        <hr class="bg-info featurette-divide" />
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <h1 class="d-none">Tập đoàn Vingroup</h1>
            <section>
              <p><span style="font-size: 12pt;"></span></p>
              <h2>TẬP ĐOÀN VINGROUP &#8211; CÔNG TY CP</h2>
              <p><span style="font-size: 12pt;">Tiền thân của Vingroup là Tập đoàn Technocom, thành lập năm 1993 tại
                  Ucraina. Đầu những năm 2000, Technocom trở về Việt Nam, tập trung đầu tư vào lĩnh vực du lịch và bất
                  động sản với hai thương hiệu chiến lược ban đầu là Vinpearl và Vincom. Đến tháng 1/2012, công ty CP
                  Vincom và Công ty CP Vinpearl sáp nhập, chính thức hoạt động dưới mô hình Tập đoàn với tên gọi Tập
                  đoàn Vingroup – Công ty CP.</span></p>
              <p><span style="font-size: 12pt;">3 nhóm hoạt động trọng tâm của Tập đoàn bao gồm:</span></p>
              <ul>
                <li><span style="font-size: 12pt;">Công nghệ &#8211; Công nghiệp</span></li>
                <li><span style="font-size: 12pt;">Thương mại Dịch vụ</span></li>
                <li><span style="font-size: 12pt;">Thiện nguyện Xã hội</span></li>
              </ul>
              <p><span style="font-size: 12pt;">Với mong muốn đem đến cho thị trường những sản phẩm &#8211; dịch vụ
                  theo
                  tiêu chuẩn quốc tế và những trải nghiệm hoàn toàn mới về phong cách sống hiện đại, ở bất cứ lĩnh vực
                  nào Vingroup cũng chứng tỏ vai trò tiên phong, dẫn dắt sự thay đổi xu hướng tiêu dùng. </span></p>
              <p><span style="font-size: 12pt;"></span></p>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>