<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{manager-layout.html}">

<head>
    <title>Quản lý tài khoản - Trường mầm non Vinschool TP Thủ Đức</title>
</head>

<body layout:fragment="content-manager">
    <main role="main">
        <div class="container">
            <div class="table-vinschool">
                <h2 class="text-light mb-4" style="font-weight: 600;"><i class="fa fa-user-circle-o"
                        aria-hidden="true"></i>&nbsp;Quản lý tài khoản</h2>
                <hr class=" bg-info mb-5">
                <table class="table table-bordered text-light">
                    <thead>
                        <tr><button class="btn btn-info float-right mb-2"><i class="fa fa-plus-circle"
                                    aria-hidden="true"></i> Thêm mới</button></tr>
                        <tr>
                            <th>Tên đăng nhập</th>
                            <th>Mật khẩu</th>
                            <th>Mã phụ huynh</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                            <td>
                                <button class="btn btn-warning"><i class="fa fa-wrench" aria-hidden="true"></i></button>
                            </td>
                            <td>
                                <button class="btn btn-danger"><i class="fa fa-minus-circle"aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>conmeongungoc123</td>
                            <td>1222222222</td>
                            <td>1</td>
                        </tr>

                    </tbody>
                </table>
                <ul class="pagination justify-content-center">
                    <li class="page-item next-back"><a class="page-link" href="#"><i class="fa fa-angle-left"
                                style="font-weight: bold;" aria-hidden="true"></i></a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">20</a></li>
                    <li class="page-item next-back"><a class="page-link" href="#"><i class="fa fa-angle-right"
                                style="font-weight: bold;" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </main>

</body>

</html>