<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{manager-layout.html}">

<head>
    <title>Quản lý tài khoản - Trường mầm non Vinschool TP Thủ Đức</title>
</head>

<body layout:fragment="content-manager">
<main role="main">
    <div class="container">
        <div class="table-vinschool">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#news" role="tab" data-toggle="tab"><i
                            class="fa fa-newspaper-o"></i> Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#events" role="tab" data-toggle="tab"><i
                            class="fa fa-bullhorn"></i> Sự kiện</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane hide in active" id="news">
                    <input id="limit" th:value="${tinTucs.size()}" style="display: none"/>
                    <div class="row search-top mt-4">
                        <div class="input-group">
                            <div class="col-8">
                                <input type="text" class="input-group m-0 p-2"
                                       placeholder="Nhập tin tức cần tìm...">
                            </div>
                            <div class="col-2">
                                <i class="fa fa-search m-0 p-2"></i>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-info float-right m-0 p-2" data-target="#addAccount"
                                        data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> Thêm
                                    mới</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered text-light mt-4">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>TITLE</th>
                            <th>Ngày tạo</th>
                            <th>Người thêm</th>
                            <th>Image</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tin : ${tinTucs}" >
                            <td th:text="${tin.getIdTin()}"></td>
                            <td th:text="${tin.getTitle()}"></td>
                            <td th:text="${tin.getNgayTao()}"></td>
                            <td th:text="${tin.getIdADMIN()}"></td>
                            <td><img class="first-slide"  th:src="@{${'/load-image-tin/'+tin.getIdTin()}}" width="500" alt="First slide"></td>
                            <td>
                                <button th:onclick="'sua_tin('+${tin.getIdTin()}+')'" class="btn btn-warning" data-target="#editAccount"
                                        data-toggle="modal"><i class="fa fa-wrench" aria-hidden="true"></i></button>
                            </td>
                            <td>
                                <button th:onclick="'return xoa_tin('+${tin.getIdTin()}+')'" class="btn btn-danger"
                                        ><i class="fa fa-minus-circle"
                                                               aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="pagination justify-content-center" onclick="load_news()" style="text-decoration: none; font-size: 22px; cursor:pointer;">
                        Xem thêm
                    </a>
                </div>
                <!-- end News Tab -->
            </div>
        </div>
    </div>
    <!-- Add Account -->
    <div class="payment">
        <div class="modal" id="addAccount">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <form th:action="@{/manager/manager-insert-tin}" method="post" class="modal-content" enctype="multipart/form-data">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Thêm tin mới</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 p-2">

                                <h4>Title</h4> <input name="title" class=" input-group text-uppercase p-2" type="text"
                                                              placeholder="Title">
                            </div>
                            <div class="col-12 p-2">
                                <h4>Subtitle</h4> <input name="subTitle" class=" input-group text-uppercase p-2" type="text"
                                                      placeholder="Subtitle">
                            </div>
                            <div class="col-12 p-2">
                                <h4>Image</h4> <div class="image-input">
                                <input type="file" accept="image/*" class="imageInput" th:name="photo">
                                <img src="" width="780" class="image-preview">
                                </div>
                            </div>

                            <div class="col-12 p-2">

                                <h4>Overview</h4> <textarea name="overview" class=" input-group text-uppercase p-2" placeholder="Overview">
                            </textarea>
                            </div>
                            <div class="col-12 p-2">
                                <h4>Header</h4> <input class=" input-group text-uppercase p-2" type="text"
                                                         placeholder="Header">
                            </div>
                            <div class="col-12 p-2"><h4>Nội dung</h4> <textarea  class=" input-group text-uppercase p-2" placeholder="Nội dung"></textarea>
                            </div>

                            <div id = "header-content" style="display: none">
                            </div>
                            <div id = "header-content-replace" style="display: none"></div>
                            <button class="btn btn-success" onclick="load_header()" style="margin-left: 8px">Thêm header</button>
                            <button class="btn btn-success" onclick="load_content()" style="margin-left: 8px">Thêm nội dung</button>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" data-toggle="modal" class="btn btn-info">Xác nhận</button>
                        <button type="button" data-toggle="modal" data-dismiss="modal"
                                class="btn btn-danger">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Add Account -->
    <!-- Edit Account -->
    <div class="payment">
        <div class="modal" id="editAccount">
            <div class="modal-dialog modal-lg modal-dialog-centered" id="sua_tin">
                <form th:action="@{/manager/sua-tin}" method="post" class="modal-content" enctype="multipart/form-data">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Sửa tin</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <input name = "idTin" th:value="${tin.getIdTin()}" style="display: none">
                            <div class="col-12 p-2">

                                <h4>Title</h4> <input name="title" th:value="${tin.getTitle()}" class=" input-group text-uppercase p-2" type="text"
                                                      placeholder="Title">
                            </div>
                            <div class="col-12 p-2">
                                <h4>Subtitle</h4> <input th:value="${tin.getSubTitle()}" name="subTitle" class=" input-group text-uppercase p-2" type="text"
                                                         placeholder="Subtitle">
                            </div>
                            <div class="col-12 p-2">
                                <h4>Image</h4> <div class="image-input">
<!--                                <input type="file" accept="image/*" class="imageInput" th:name="photo" th:onchange="change_image()">-->
<!--                                <img src="" width="780" class="image-preview">-->
                                <input type='file' id="file-input" th:onchange="change_image()" th:name="photo"/>
                                <img id="image-preview" alt="your image" width="500" title='' style="display: none"/>
                                <img class="first-slide" id="image" th:src="@{${'/load-image-tin/'+tin.getIdTin()}}" width="500" alt="First slide">
                                <script>  function readURL(input) {
                                    if (input.files && input.files[0]) {
                                        var reader = new FileReader();
                                        reader.onload = function(e) {
                                            $('#image-preview').attr('src', e.target.result);
                                            $('#image-preview').hide();
                                            $('#image-preview').fadeIn(650);
                                            $('#image-preview').css('display','block')
                                            $('#image').css('display','none');
                                        }
                                        reader.readAsDataURL(input.files[0]);
                                    }
                                }
                                $("#file-input").change(function() {
                                    readURL(this);
                                });</script>
                            </div>
                            </div>
                            <div class="col-12 p-2">
                                <h4>Overview</h4> <textarea th:text="${tin.getOverview()}" name="overview" class=" input-group text-uppercase p-2" placeholder="Overview">
                            </textarea>
                            </div>
                            <div class="col-12 p-2">
                                <h4>Header</h4> <input class=" input-group text-uppercase p-2" type="text"
                                                       placeholder="Header">
                            </div>
                            <div class="col-12 p-2"><h4>Nội dung</h4> <textarea  class=" input-group text-uppercase p-2" placeholder="Nội dung"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" data-toggle="modal" class="btn btn-info">Xác nhận</button>
                        <button type="button" data-toggle="modal" data-dismiss="modal"
                                class="btn btn-danger">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Edit Account -->
    <!-- Remove Account -->
    <div class="payment" id="payment">
        <div class="modal" id="removeaccount">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Xóa tin</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <h2>Bạn có muốn xóa tin tức này không?</h2>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button id ="btn-xac-nhan" th:onclick="xoa_tin()" type="button" data-toggle="modal" class="btn btn-info">Có</button>
                        <button type="button" data-toggle="modal" data-dismiss="modal"
                                class="btn btn-danger">Không</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $('.imageInput').on('change', function() {
        $input = $(this);
        if($input.val().length > 0) {
            fileReader = new FileReader();
            fileReader.onload = function (data) {
                $('.image-preview').attr('src', data.target.result);
            }
            fileReader.readAsDataURL($input.prop('files')[0]);
            $('.image-button').css('display', 'none');
            $('.image-preview').css('display', 'block');
            $('.change-image').css('display', 'block');
        }
    });

    $('.change-image').on('click', function() {
        $control = $(this);
        $('#imageInput').val('');
        $preview = $('.image-preview');
        $preview.attr('src', '');
        $preview.css('display', 'none');
        $control.css('display', 'none');
        $('.image-button').css('display', 'block');
    });

</script>
<script>
    function load_header(){
        $('#header-content').replaceWith('<div class="col-12 p-2">\n' +
            '                                <h4>Header</h4> <input class=" input-group text-uppercase p-2" type="text"\n' +
            '                                                         placeholder="Header">\n' +
            '                            </div>');
        $('#header-content-replace').replaceWith('<div id = "header-content" style="display: none">\n' +
            '\n' +
            '                            </div>\n' +
            '                            <div id = "header-content-replace" style="display: none"></div>');
    }
    function load_content(){
        $('#header-content').replaceWith('<div class="col-12 p-2"><h4>Nội dung</h4> <textarea  class=" input-group text-uppercase p-2" placeholder="Nội dung"></textarea>\n' +
            '                            </div>');
        $('#header-content-replace').replaceWith('<div id = "header-content" style="display: none">\n' +
            '\n' +
            '                            </div>\n' +
            '                            <div id = "header-content-replace" style="display: none"></div>');
    }

    function sua_tin(id){
        $.ajax({
            type : "POST",
            url: "/manager/load-modal-sua-tin",
            data: "idTin="+id,
            success: function(data) {
                $('#sua_tin').replaceWith(data);
            },
            error: function(data){
                alert('Lỗi!');
            }
        });
    }

    function load_news(){
        $.ajax({
            type : "POST",
            url: "/manager/load-news",
            data: "limit="+$('#limit').val(),
            success: function(data) {
                $('#news').replaceWith(data);
                document.getElementById("limit").val();
            },
            error: function(data){
                alert("lỗi!");
            }
        });
    }

    function open_modal_xoa(idTin){
        $('#removeaccount').css('display','block');
        $('#btn-xac-nhan').val(idTin);
    }
    function xoa_tin(idTin) {
        if (confirm('Bạn có muốn xoá?'+idTin)) {
            $.ajax({
                type: "POST",
                url: "/manager/xoa-tin",
                data: "idTin=" + idTin,
                success: function (data) {
                    alert('Xoá thành công!');
                    $('#news').replaceWith(data);
                },
                error: function (data) {
                    alert("lỗi!");
                }
            });
        }
        else{
            return false;
        }
    }
</script>
</body>

</html>