<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
  <title>Tin tức & Sự kiện - Trường mầm non Vinschool TP Thủ Đức</title>
</head>

<body layout:fragment="content">
  <main role="main">
    <div class="container">
      <div class="news" id="news">
        <h2 class="text-capitalize mb-4 text-light" style="font-weight: 600;"><i class="fa fa-newspaper-o"
            aria-hidden="true"></i>&nbsp;Tin tức</h2>
        <hr class=" bg-info mb-5">
        <th:block th:each="tin : ${tinTucs}">
        <div class="row featurette text-light" >
          <input id="limit" th:value="${tinTucs.size()}" style="display: none"/>
          <div class="col-md-7">
            <h2 class="news-title" th:text="${tin.getTitle()}"></h2>
            <p class="lead" th:text="${tin.getSubTitle()}"></p>
            <p style="font-size: 14px;"><i th:text="${tin.getNgayTao()}"></i></p>
            <h4 class="view-more"><a th:href="@{${'/detail-news/'+tin.getIdTin()}}">Xem tiếp <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h4>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" height="300" th:src="@{${'/load-image-tin/'+tin.getIdTin()}}"
              alt="Generic placeholder image">
          </div>
        </div>
        <hr class="mb-5 mt-5" style="background-color: #CDA666;">
        </th:block>
        <a class="pagination justify-content-center" onclick="load_news()" style="text-decoration: none; font-size: 22px; cursor:pointer;">
          Xem thêm
        </a>
      </div>

      <!-- xxxx -->
      <div class="news">
        <h2 class="text-capitalize mb-4 text-light" style="font-weight: 600;"><i class="fa fa-calendar"
            aria-hidden="true"></i>&nbsp;Sự kiện</h2>
        <hr class=" bg-info mb-5">
        <div class="row">
          <div class="envents col-4 text-light">
            <img src="images/news/image1.jpg" alt="">
            <div class="content-event">
              <h4 class="ml-2 mr-1">Khai trương trường Mầm non Vinschool Grand Park</h4>
              <div class="view-more-header">
                <h6 class="float-left"><i>12/09/2022</i></h6>
                <h6 class="view-more float-right"><a href="#">Xem tiếp <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h6>
              </div>
            </div>
          </div>
          <div class="envents col-4 text-light">
            <img src="images/news/image2.jpg" alt="">
            <div class="content-event">
              <h4 class="ml-2 mr-1">Ngày hội vận động vui khỏe Champions Day</h4>
              <div class="view-more-header">
                <h6 class="float-left"><i>04/07/2022</i></h6>
                <h6 class="view-more float-right"><a href="#">Xem tiếp <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h6>
              </div>
            </div>
          </div>
          <div class="envents col-4 text-light">
            <img src="images/news/image3.jpg" alt="">
            <div class="content-event">
              <h4 class="ml-2 mr-1">Khám phá thế giới Khoa học kỳ bí Science Fair</h4>
              <div class="view-more-header">
                <h6 class="float-left"><i>02/07/2022</i></h6>
                <h6 class="view-more float-right"><a href="#">Xem tiếp <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h6>
              </div>
            </div>
          </div>
        </div>
        <hr class="mb-5 mt-5" style="background-color: #CDA666;">
      <ul class="pagination justify-content-center">
        <li class="page-item next-back"><a class="page-link" href="#"><i class="fa fa-angle-left"
              style="font-weight: bold;" aria-hidden="true"></i></a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">20</a></li>
        <li class="page-item next-back"><a class="page-link" href="#"><i class="fa fa-angle-right"
              style="font-weight: bold;" aria-hidden="true"></i></a></li>
      </ul>
      </div>
    </div>
  </main>
</body>

</html>