<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>Đánh giá - Trường mầm non Vinschool TP Thủ Đức</title>
</head>

<body layout:fragment="content">
    <main role="main">
        <div class="container marketing">
            <div class="rate bg-rate p-5">
                <div class="rating-total">
                    <div class="row">
                        <div class="col-4 m-auto">
                            <div class="rate-current m-auto">
                                <h1 th:text="${diem}"></h1>
                                <p>out of 5</p>
                            </div>
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                    aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                    class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                    aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="rate-percent">
                                <div class="col-2">5 Stars</div>
                                <div class="col-8">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:90%"></div>
                                    </div>
                                </div>
                                <div class="col-2">1M</div>
                            </div>
                            <div class="rate-percent">
                                <div class="col-2">4 Stars</div>
                                <div class="col-8">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:8%"></div>
                                    </div>
                                </div>
                                <div class="col-2">1000</div>
                            </div>
                            <div class="rate-percent">
                                <div class="col-2">3 Stars</div>
                                <div class="col-8">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:1%"></div>
                                    </div>
                                </div>
                                <div class="col-2">10</div>
                            </div>
                            <div class="rate-percent">
                                <div class="col-2">2 Stars</div>
                                <div class="col-8">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:1%"></div>
                                    </div>
                                </div>
                                <div class="col-2">2</div>
                            </div>
                            <div class="rate-percent">
                                <div class="col-2">1 Stars</div>
                                <div class="col-8">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:0%"></div>
                                    </div>
                                </div>
                                <div class="col-2">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment text-light">
                <h2 class="text-light mb-4 mt-4  p-2"><i class="fa fa-star"></i> Chi tiết đánh giá</h2>
                <hr class="bg-info">
                <div class="filter-star">
                    <i class="fa fa-filter" aria-hidden="true"></i><select class="" name="" id="">
                        <option value="">5.0</option>
                        <option value="">4.0</option>
                        <option value="">3.0</option>
                        <option value="">2.0</option>
                        <option value="">1.0</option>
                    </select>
                </div>
                <div class="user-comment-rate p-5">
                    <div class="column">
                        <th:block th:each="rate : ${rates}" th:id="list_rate">
                        <div class="details-comment bg-vinschool2 mr-2 ml-2">
                            <div class="row col-12 mb-3" style="display: flex;justify-content: space-between">
                                <div class="row">
                                    <img src="/images/id/teacher1.jpg" alt="">
                                    <h5 id="idkh" th:text="${rate.getTen()}"></h5>
                                </div>
                                <i class="fa fa-star" th:text="${rate.getRate()}" style="font-size: 30px;margin-top: 20px;"></i>
                            </div>
                            <div class="col-12 p-5" style="background-color: #FFFFFF; color: black;border-radius: 15px">
                                <p th:text="${rate.getContent()}"></p>
                            </div>
                        </div>
                        </th:block>


                        <div class="col-12">
                            <form th:action="@{/insert-danhgia}" method="post">
                                <hr class="bg-info">
                                <h4 class="text-head-vinschool ">Viết đánh giá</h4>
                                <hr class="bg-info">
                                <div class="col-12">
                                    <div class="center">
                                        <div class="stars mb-5">
                                            <input type="radio" id="five" name="rate" value="5">
                                            <label for="five"></label>
                                            <input type="radio" id="four" name="rate" value="4">
                                            <label for="four"></label>
                                            <input type="radio" id="three" name="rate" value="3">
                                            <label for="three"></label>
                                            <input type="radio" id="two" name="rate" value="2">
                                            <label for="two"></label>
                                            <input type="radio" id="one" name="rate" value="1">
                                            <label for="one"></label>
                                            <span class="result mb-2"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row mb-2 ml-2">
                                    <img class="mb-2 ml-2" src="/images/id/teacher.png" alt="">
                                        <h5 style="padding-top: 1%;padding-left: 2%;padding-bottom: 0;" class="h5"  th:if="${#authorization.expression('isAuthenticated()')}" th:text="${#authentication.getPrincipal().getUsername()}">
                                        </h5>
                                        <h5 style="padding-top: 1%;padding-left: 2%;padding-bottom: 0;" class="h5"  th:unless="${#authorization.expression('isAuthenticated()')}"> Đăng nhập trước khi đánh giá!
                                        </h5>
                                        <input name="TaiKhoan" th:if="${#authorization.expression('isAuthenticated()')}" th:value="${#authentication.getPrincipal().getUsername()}" type="text" style="display: none">
                                    </div>
                                    <textarea class="col-12 input-group p-2 mb-2" rows="8"
                                        placeholder="Hãy viết gì đó về Kidvinschool..." name="content"></textarea>
                                    <button sec:authorize="hasAnyRole('KHACHHANG')" class="btn btn-outline-info">Đánh giá</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </main>
</body>

</html>