<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đánh giá - Trường mầm non Vinschool TP Thủ Đức</title>
    <link rel="shortcut icon" href="images/logo/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/style.css">
    <link rel="stylesheet" href="dist/css/style-star.css">
    <script src="dist/js/jQuery/jquery.slim.min.js"></script>
    <script src="dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" href="index.html"><img class="logo" src="images/logo/logo.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-brand mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="index.html">Trang chủ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="news.html">Tin tức & sự kiện</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="education.html">Chương trình đào tạo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="admissions.html">Đăng ký nhập học</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="rating.html">Đánh giá</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="contact.html">Liên hệ</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-brand">
                    <li class="nav-item mt-2 mt-md-0">
                        <a class="nav-link " href="#"><i class="fa fa-sign-in"></i>&nbsp;Đăng nhập</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container marketing">
            <div class="rate bg-rate p-5">
                <div class="rating-total">
                    <div class="row">
                        <div class="col-4 m-auto">
                            <div class="rate-current m-auto">
                                <h1>5.0</h1>
                                <p>out of 5</p>
                            </div>
                            <div class="star">
                                <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                    aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                    class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                    aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="rate-percent">
                                <div class="col-2">5 Stars</div>
                                <div class="col-8">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:90%"></div>
                                    </div>
                                </div>
                                <div class="col-2">1M</div>
                            </div>
                            <div class="rate-percent">
                                <div class="col-2">4 Stars</div>
                                <div class="col-8">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:8%"></div>
                                    </div>
                                </div>
                                <div class="col-2">1000</div>
                            </div>
                            <div class="rate-percent">
                                <div class="col-2">3 Stars</div>
                                <div class="col-8">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:1%"></div>
                                    </div>
                                </div>
                                <div class="col-2">10</div>
                            </div>
                            <div class="rate-percent">
                                <div class="col-2">2 Stars</div>
                                <div class="col-8">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:1%"></div>
                                    </div>
                                </div>
                                <div class="col-2">2</div>
                            </div>
                            <div class="rate-percent">
                                <div class="col-2">1 Stars</div>
                                <div class="col-8">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:0%"></div>
                                    </div>
                                </div>
                                <div class="col-2">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment text-light">
                <h2 class="text-light mb-4 mt-4  p-2"><i class="fa fa-star"></i> Chi tiết đánh giá</h2>
                <hr class="bg-info">
                <div class="filter-star">
                    <i class="fa fa-filter" aria-hidden="true"></i><select class="" name="" id="">
                        <option value="">5.0</option>
                        <option value="">4.0</option>
                        <option value="">3.0</option>
                        <option value="">2.0</option>
                        <option value="">1.0</option>
                    </select>
                </div>
                <div class="user-comment-rate p-5">
                    <div class="row">
                        <div class="details-comment bg-vinschool2">
                            <div class="col-12">
                                <img src="images/id/teacher1.jpg" alt="">
                            </div>
                            <div class="col-12 p-5">
                                <p>kidvinschool rất tuyệt vời. tôi rất yêu thích nơi này nó giúp hshshs sjd
                                    ddddddddddddddddddddddddddddddddddddddddddddddddd sssssssssssssssssssssssssssss</p>
                            </div>
                        </div>
                        <div class="details-comment bg-vinschool2">
                            <div class="col-12">
                                <img src="images/id/teacher1.jpg" alt="">
                            </div>
                            <div class="col-12 p-5">
                                <p>kidvinschool rất tuyệt vời. tôi rất yêu thích nơi này nó giúp
                                    .................................................
                                    ...............................x
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.................................................
                                    ...............................x
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.................................................
                                    ...............................x
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.................................................
                                    ...............................x
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,</p>
                            </div>
                        </div>
                        <div class="details-comment bg-vinschool2">
                            <div class="col-12">
                                <img src="images/id/teacher1.jpg" alt="">
                            </div>
                            <div class="col-12 p-5">
                                <p>kidvinschool rất tuyệt vời. tôi rất yêu thích nơi này nó giúp
                                    .................................................
                                    ...............................x
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.................................................
                                    ...............................x
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.................................................
                                    ...............................x
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.................................................
                                    ...............................x
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,</p>
                            </div>
                        </div>
                        <div class="details-comment bg-vinschool2">
                            <div class="col-12">
                                <img src="images/id/teacher1.jpg" alt="">
                            </div>
                            <div class="col-12 p-5">
                                <p>kidvinschool rất tuyệt vời. tôi rất yêu thích nơi này nó giúp
                                    .................................................
                                    ...............................x
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.................................................
                                    ...............................x
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.................................................
                                    ...............................x
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.................................................
                                    ...............................x
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
                                    ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <form  action="post">
                                <hr class="bg-info">
                                <h4 class="text-head-vinschool ">Viết đánh giá</h4>
                                <hr class="bg-info">
                                <div class="col-12">
                                    <div class="center">
                                        <div class="stars mb-5">
                                            <input type="radio" id="five" name="rate" value="5">
                                            <label for="five"></label>
                                            <input type="radio" id="four" name="rate" value="4">
                                            <label for="four"></label>
                                            <input type="radio" id="three" name="rate" value="3">
                                            <label for="three"></label>
                                            <input type="radio" id="two" name="rate" value="2">
                                            <label for="two"></label>
                                            <input type="radio" id="one" name="rate" value="1">
                                            <label for="one"></label>
                                            <span class="result mb-2"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <img class="mb-2" src="images/id/teacher.png" alt="">
                                    <textarea class="col-12 input-group p-2 mb-2" rows="8"
                                        placeholder="Hãy viết gì đó về Kidvinschool..."></textarea>
                                    <button class="btn btn-outline-info">Đánh giá</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div><!-- /.container -->
        <!-- FOOTER -->

        <div class="footer-logos">
            <div class="container d-flex align-items-center justify-content-center">
                <div class="footer-logos-item col-4 col-lg-4 col-xl-4 m-auto ">
                    <img alt="" src="images/logo/logo_cam.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
                </div>
                <div class="cis footer-logos-item col-4 col-lg-4 col-xl-4 m-auto">
                    <img alt="" src="images/logo/Logo-CIS.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
                </div>
                <div class="footer-logos-item col-4 col-lg-4 col-xl-4 m-auto">
                    <img alt="" src="images/logo/logo_IPC.png" class="img-fluid lazyload mx-xl-auto d-xl-block" />
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <footer class="bg-dark text-light">
            <div id="footer">
                <div class="footer-top">
                    <div class="container">
                        <p class="the-title wow fadeInDown">Hệ thống Giáo dục Vinschool</p>
                        <div class="row">
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="widget wow fadeInLeft" data-wow-delay="0s">
                                    <p class="h6 footer-title">Tại Miền Bắc và Miền Trung:</p>
                                    <div class="content-widget">
                                        <p> <strong>T: </strong>
                                            <span>
                                                18006511 (chọn ngôn ngữ và bấm số máy lẻ 1 hoặc 3)<br />hoặc 094 659
                                                1010 </span>
                                        </p>
                                        <p> <strong>E: </strong><span>tuyensinh@vinschool.edu.vn</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <div class="widget wow fadeInLeft" data-wow-delay="0.2s">
                                    <p class="h6 footer-title">Tại Miền Nam:</p>
                                    <div class="content-widget">
                                        <p> <strong>T: </strong>
                                            <span>
                                                18006511 (chọn ngôn ngữ và bấm số máy lẻ 2)<br />hoặc 091 1016 680
                                            </span>
                                        </p>
                                        <p> <strong>E: </strong><span>tuyensinh.hcm@vinschool.edu.vn</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-2">
                                <a href="//www.dmca.com/Protection/Status.aspx?ID=9753a5d8-c1fa-42e2-876e-3a12383d7ae0"
                                    title="DMCA.com Protection Status" class="dmca-badge"> <img
                                        src="images/logo/DMCA.png" alt="DMCA.com Protection Status" /></a>
                                <script src="dist/js/DMCABadgeHelper.min.js"> </script>
                            </div>
                            <div class="col-sm-6 col-lg-12 col-xl-4">
                                <p><i class="fa fa-map-marker" aria-hidden="true"
                                        style="font-size: 25px;"></i>&nbsp;RRQP+GQ3, Đ. Cầu
                                    Vồng 3, Long Thạnh Mỹ, Quận 9, Thành phố Hồ Chí Minh, Việt Nam</p>
                                <p><i class="fa fa-envelope" aria-hidden="true"
                                        style="font-size: 18px;"></i>&nbsp;Kidsvinschoolthuduc@gmail.com</p>
                                <p><i class="fa fa-phone-square" aria-hidden="true"
                                        style="font-size: 20px;"></i>&nbsp;0283643555</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="dist/js/popper.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>